@font-face {
  font-family: 'IBM';
  src: url('../Assets/IBMPlexMono-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BG';
  src: url('../Assets/BigShouldersText-VariableFont_wght.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
.contact{
  font-family: 'BG';
  max-width: 469px;
  height: 673px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact .text{
  display: flex;
  justify-content: space-around;
  text-align: left;
  flex-direction: column;
  text-transform: uppercase;
  line-height: 2px;
  padding-bottom: 30px;
}
.contact .text h4{
  color: #fff;
  font-size:1.1250em;
  letter-spacing: 1px;
}
.contact .text span{
  color: #B2B7BA;
  letter-spacing: 2px;
}
.contact .custom-border {
    width: 469px; 
    height: 552px;
    background-color:rgba(168, 206, 208, 0.1);
    clip-path: polygon(4% 0, 100% 0, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 3%);
    backdrop-filter: blur(50px); 
  }
  .contact form {
    display: flex;
    justify-content:flex-start;
    word-spacing: 2px;
    align-items: left;
    flex-direction: column;
    max-width: 100%;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-family: 'BG';
    letter-spacing: 2px;
    line-height: 50px;
  }
  
  .contact label {
    display: block;
    color: #A8CED0;
    background-color: transparent;
  }
  
  .contact input{
    width: 405px;
    height: 45px;
    padding: 8px;
    background-color: #171C21;
    border: 1px solid #333333;
    color: #fff;
    letter-spacing: 2px;
    transition: 0.5s;
  }
  .contact textarea{
    width: 405px;
    max-height: 237px;
    color: #fff;
    padding: 8px;
    background-color: #171C21;
    border: 1px solid #333333;
    resize:none;
    transition: 0.5s;
    line-height: 24px;
  }
  .contact textarea:focus, input:focus {
    outline: none; /* Removes the default black outline */
    box-shadow: 0 0 5px 2px rgba(168, 206, 208, 0.5); /* Optional: Adds a custom shadow to indicate focus */
    border: 1px solid #A8CED0; /* Optional: Changes border color on focus */
}
  .contact .buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: center;
    padding-top: 20px;
    font-family: 'BG';
  }
  .contact .buttons a{
    font-size:1em;
    letter-spacing: 3px;
    max-width: 226.5px;
    max-height: 33px;
    text-transform: uppercase;
    padding: 5px 30px;
    font-weight:600;
    text-decoration: none;
  }
  .contact .buttons .send{
    background-color: #A8CED0;
    color: #171C21;
    transition: 0.5s;
  }
  .contact .buttons .discard{
    background-color: #171C21;
    color: #A8CED0;
    transition: 0.5s;
  }
  .contact .buttons .send:hover{
    box-shadow: 0 0 5px 2px rgba(168, 206, 208, 0.5);
  }
  .contact .buttons .discard:hover{
    box-shadow: 0 0 5px 2px rgba(51, 51, 51, 0.5);
  }