@font-face {
  font-family: 'IBM';
  src: url('./Assets/IBMPlexMono-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'IBM';
  background-color: #fff;
}
::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
  background-color: rgba(23, 28, 33, 0.8);}
   
  ::-webkit-scrollbar-thumb {
    background: #A8CED0;
    transition:0.5s;
  }
  
  ::-webkit-scrollbar-thumb:hover {
        background: #b4d6d8; 
      cursor:grab;
  }
.App{
    display: flex;
    max-width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}